@model IEnumerable<ILearnCoreV19.Areas.Identity.Data.ApplicationNotif>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height: 500px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Time
            </th>
            <th>
                Read
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Header)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRead)
                </td>
                <td>
                    @{
                        /*
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserID })
                        @Html.ActionLink("Details", "GetDetails", "User", new { id = item.UserID }, null)
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                        */
                    }
                </td>
            </tr>
        }

    </table>
</div>