@model List<ILearnCoreV19.Areas.Identity.Data.ApplicationEvent>

@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using Microsoft.AspNetCore.Http;

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="height: 500px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Class
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Price
            </th>
            <th>
                Payment Method
            </th>
            <th>
                Class Owner
            </th>
            <th>
                Class Owner's Email'
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr style="overflow:scroll">
                <td>
                    @Html.DisplayFor(modelItem => item.text)
                </td>
                <td>
                    <div style="text-align: center">
                        @Html.DisplayFor(modelItem => item.start_date)
                        @if (item.start_date.Hour == 0)
                        {<h7>00</h7>}
                        else
                        {@Html.DisplayFor(modelItem => item.start_date.Hour)}:
                        @if (item.start_date.Minute == 0)
                        {<h7>00</h7>}
                        else
                        {@Html.DisplayFor(modelItem => item.start_date.Minute)}
                    </div>
                </td>
                <td>
                    <div style="text-align: center">
                        @Html.DisplayFor(modelItem => item.end_date)
                        @if (item.end_date.Value.Hour == 0)
                        {<h7>00</h7>}
                        else
                        {@Html.DisplayFor(modelItem => item.end_date.Value.Hour)}:
                        @if (item.end_date.Value.Minute == 0)
                        {<h7>00</h7>}
                        else
                        {@Html.DisplayFor(modelItem => item.end_date.Value.Minute)}
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ownerFirstName) @Html.DisplayFor(modelItem => item.ownerLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    <form asp-controller="User"
                          asp-action="Subscribe"
                          data-ajax-complete=""
                          data-ajax-failure="alert('Fail')"
                          data-ajax-success="sendSubsNotif"
                          data-ajax="true"
                          data-ajax-method="POST">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input data-confirm="Are you sure?" type="submit" value="Subscribe" class="btn btn-success" style="width:200px" />
                        </div>


                        <input type="hidden" name="userName" value=@item.userId />
                        <input type="hidden" name="eventId" value=@item.EventId />
                        <input type="hidden" name="email" value=@User.Identity.Name />
                        <input type="hidden" name="returnUrl" value="/User/ListOfEvents" />

                    </form>
                </td>
            </tr>
        }
    </table>
</div>




@section scripts {
    <script src="~/signalr/signalr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/signrReqHandler.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>
}