@model List<ILearnCoreV19.Areas.Identity.Data.ApplicationEvent>

@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System;

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="height: 500px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Class
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Status
            </th>
            <th>
                Price
            </th>
            <th>
                Paid
            </th>
            <th>
                Subscriber Email
            </th>
            <th>
                Subscriber First Name
            </th>
            <th>
                Subscriber Last Name
            </th>
            <th>
                Payment Method
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            <div style="text-align: center">
                @Html.DisplayFor(modelItem => item.start_date)
                @if (item.start_date.Hour == 0){<h7>00</h7>}else{@Html.DisplayFor(modelItem => item.start_date.Hour)}:
                @if (item.start_date.Minute == 0){<h7>00</h7>}else{@Html.DisplayFor(modelItem => item.start_date.Minute)}
            </div>
        </td>
        <td>
            <div style="text-align: center">
                @Html.DisplayFor(modelItem => item.end_date)
                @if (item.end_date.Value.Hour == 0){<h7>00</h7>}else{@Html.DisplayFor(modelItem => item.end_date.Value.Hour)}:
                @if (item.end_date.Value.Minute == 0){<h7>00</h7>}else{@Html.DisplayFor(modelItem => item.end_date.Value.Minute)}
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriberEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriberFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriberLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
    </tr>
        }

    </table>
</div>