@model List<ILearnCoreV19.Areas.Identity.Data.ApplicationEvent>

@{
    ViewData["Title"] = "Student Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System;

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div style="height: 500px; overflow: auto;">
    <table class="table">
        <tr>
            <th>
                Class
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Status
            </th>
            <th>
                Price
            </th>
            <th>
                Paid
            </th>
            <th>
                Subscriber Email
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)€
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subscriberEmail)
        </td>
        <td>
            @using (Html.BeginForm("StudentRejectSubscription", "User", FormMethod.Post))
            {
                <!-- form goes here -->
                @Html.Hidden("eventId", item.EventId)
                @Html.Hidden("returnUrl", $"~/User/StudentSubjects")
                <input type="submit" value="Reject" class="btn btn-danger" style="width:200px" />
            }
        </td>
    </tr>
        }

    </table>
</div>